@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');

html, body, ul {
  margin: 0;
  padding: 0;
}

html {
  background-color: #000000;
  color: #c5c8c6;
  font: 22px/2 "Inconsolata", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: 600;
}

a {
  color: #e0e0e0;
  text-decoration: none;
}

a:focus, a:hover {
  font-weight: bold;
  color: #c7c7c7;
}


ul {
  list-style-type: none;
  margin: 15px;
  padding: 0;
}


nav {
  display: flex;
  justify-content: center;
  padding: 1em 0;
  gap: 2em;
}

.ikony {
  font-size: 21px;
  color: #a775fd;
}


li:first-child {
  color: #29fe92;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

li:last-child {
  margin: 0 0 1em;
}
